<section class="gray-bg pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 order-lg-1 order-md-1 order-sm-1">
                <div class="pro-details-feature">
                    <img src="assets/img/product/1.png" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 order-lg-2 order-md-2 order-sm-2">
                <div class="pro-details-feature">
                    <h3>Long Lasting</h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    <ul>
                        <li>It is a long established fact that</li>
                        <li>Many desktop publishing</li>
                        <li>Various versions have evolved over the years, sometimes by accident</li>
                        <li>There are many variations of passages</li>
                        <li>If you are going to use a</li>
                        <li>Alteration in some form, by injected</li>
                    </ul>
                    <a href="#">$70 Buy now</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 order-lg-3 order-md-4 order-sm-4 order-4">
                <div class="pro-details-feature">
                    <h3>Impressive Distance</h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    <ul>
                        <li>It is a long established fact that</li>
                        <li>Many desktop publishing</li>
                        <li>Various versions have evolved over the years, sometimes by accident</li>
                        <li>There are many variations of passages</li>
                        <li>If you are going to use a</li>
                        <li>Alteration in some form, by injected</li>
                    </ul>
                    <a href="#">$70 Buy now</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 order-lg-4 order-md-3 order-sm-3 order-3">
                <div class="pro-details-feature">
                    <img src="assets/img/product/1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>