<div class="container mt-5">
    <div class="d-flex justify-content-center">

        <% tag.forEach(category => { %>
    
            <!-- <button type="button" class="btn btn-outline-primary">Primary</button>
              <button type="button" class="btn btn-outline-secondary">Secondary</button>
              <button type="button" class="btn btn-outline-success">Success</button> -->
              <button type="button" class="btn btn-outline-danger d-flex align-items-center justify-content-center">
                <a href="/tag/<%= category %>" style="text-decoration: none; color: inherit;">
                  <%= category %>
                </a>
              </button>
              <!-- <button type="button" class="btn btn-outline-warning">Warning</button>
              <button type="button" class="btn btn-outline-info">Info</button>
              <button type="button" class="btn btn-outline-dark">Dark</button> -->
          <% }); %>

    </div>
  </div>
  