<div class="container mt-5">
    <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-outline-danger d-flex align-items-center justify-content-center">
                <a href="/product" style="text-decoration: none; color: inherit;">
                  All
                </a>
              </button>
        <% tag.forEach(category => { %>
              <button type="button" class="btn btn-outline-danger d-flex align-items-center justify-content-center">
                <a href="/tag/<%= category %>" style="text-decoration: none; color: inherit;">
                  <%= category %>
                </a>
              </button>
          <% }); %>

    </div>
  </div>
  
